$color1: #3fb7bf;
$color2: #5b5aea;
$color3: #a590c1;
$color4: #5b5de9;
$color5: #4a9ee0;
$text-primary-dark: #36347e;
$radius: 8px;
$bg-dark: #070a19;
@font-face {
    font-family: "madani";
    src: url("../fonts/madani-arabic-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$ar-font: "madani";
