@import "variables";
@import "mixins";
@import "base";
@import "layout";
@import "utilities";
@import "components/buttons";
@import "components/cards";
@import "components/navbar";
@import "components/sections";

.bubble {
    position: relative;
    border-bottom-left-radius: 100% 90%;
    border-bottom-right-radius: 100% 90%;
    top: 0;
    width: 100%;
    height: 160%;
    &.inner {
        padding-bottom: 20%;
    }
    > .container {
        z-index: 22;
        position: relative;
    }
    @extend .dark-section;
    @include dark-mode {
        border-radius: 0;
    }
    @media (max-width: 1200px) {
        border-radius: 0;
    }
}

body {
    @include dark-mode {
        background-color: $bg-dark;
    }
}
